{% extends "generator/base.html" %}

{% block title %}Welcome to Pillars{% endblock %}

{% block extra_css %}
.welcome-container {
    text-align: center;
    padding: 40px 0;
}
.welcome-text {
    max-width: 750px;
    margin: 0 auto 40px auto;
    text-align: left;
    line-height: 1.7;
    font-size: 1.1em;
}
.welcome-text h1 {
    font-size: 3em;
    border: none;
    text-align: center;
    margin-bottom: 0;
}
.welcome-text h1 + p {
    text-align: center;
    margin-bottom: 30px;
}
.welcome-text h1 + p em {
    font-size: 1.2em;
    color: #666;
}
.welcome-text p {
    margin-bottom: 1.2em;
}
.welcome-text strong {
    color: #333;
}
{% endblock %}

{% block content %}
<div class="welcome-container">
    <div class="welcome-text">
        {{ welcome_content|safe }}
    </div>
</div>
{% endblock %}
